* {
    margin: 0;
}

body {
    border: 1px solid red;
    height: 100vh;
}

#div1 {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    margin: 20px;
    margin-bottom: 20px;
}

#div2 {
    height: 200px;
    width: 200px;
    background-color: rgb(234, 127, 255);
}

#div3 {
    height: 20px;
    width: 20px;
    background-color: rgb(19, 35, 85);
    margin: 20px;
    margin-bottom: 20px;
    padding: 10px;
}